*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
:root{
    --clr-light: #fff;
    --clr-dark: #303030;
    --ff-heading:'Inter', sans-serif;
    --fw-heading : 700;
    --fs-heading : 2.2em;
    --clr-highlight: #ffbb33;
}

/*HOME PAGE*/
.home{
    margin: 0%;
    padding: 0%;
}
.carousel{
    width: 100%;
}
.home_img{
    height:100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(20%);
    background-attachment: fixed;
    padding: 0%;
    margin: 0%;
}
.head{
    position: relative;
}
.heading{
    position: absolute;
    top: -20em;
    left: 27%;
    right: 27%;
    text-align: center;
    color: var(--clr-light);
    font-size: var(--fs-heading);
    font-weight: var(--fw-heading);
    font-family: var(--ff-heading);
}
.landing_page_text{
    position: absolute;
    font-size: 1em;
    top: 62%;
    bottom: 50%;
    left: 27%;
    right: 27%;
    color: var(--clr-light);
    text-align: center;
    font-family: var(--ff-heading);
}
nav{
    position: fixed;
    padding: 0;
    background-color: black;
    opacity: 0.5;
    top: 0%;
    color: antiquewhite;
    text-align: center;
    position: fixed;
    width: 100%;
    font-family: var(--ff-heading);
}
.nav_list{
    list-style-type: none;
    font-size: 0.8em;
}
.nav_list .nav_item{
    display: inline-block;
    padding: 5px 20px;
}
a{
    color: var(--clr-light);
    text-decoration: none;
}
a:hover{
    color:var(--clr-highlight);
}
.socials{
    display: flex;
    list-style: none;
    align-items: center;
}
.social_item{
    margin: 0.5em;
}
i{
    color: var(--clr-light);
}
.icons{
    bottom: 4em;
    position: relative;
    left: 1em;
    display: flex;
}
.horizontal_line{
    content: '';
    width: 30em;
    height: 0.08em;
    background: var(--clr-light);
    opacity: 0.5;
    left: 10em;
    bottom: 1.2em;
    position: absolute;
}
.vertical_line{
    content: '';
    background: var(--clr-light);
    position: absolute;
    width: 0.08em;
    height: 25em;
    left: 0.8em;
    bottom: 4em;
    opacity: 0.5;
}
.btn{
    position: relative;
}
.button-scroll {
    position: absolute;
    width: 10em;
    height: 3em;
    left: 87%;
    top: -12em;
    bottom: 10em;
    font-family:var(--ff-heading);
    font-weight: 15;
    font-size: 1em;
    align-items: center;
    background-color: transparent;
    text-align: center;
    color: var(--clr-light);
    transform: rotate(90deg);
    border: none;
  }
  
/*ABOUT PAGE*/ 

/*
.about_bg{
    width: 100%;
    margin: 0%;
    padding: 0%;
    background: url(https://img.freepik.com/free-vector/realistic-white-golden-geometric-background_79603-2032.jpg?w=2000);
}
.about_img{
    width: 100%;
    height: 100%;
}
*/
.about{
    background-image: url('bg3.jpg');
    background-position: center;
    background-repeat: no-repeat; 
     background-size: cover; 
    background-attachment: fixed;
    padding: 0%;
    margin: 0%;
}
.about_text,.vision_text{
    width: 30em;
    height: 10em;

    padding: 1em;
    margin: 2em;
    font-family: var(--ff-heading);
    font-weight: 100;
    align-items: center;
    letter-spacing: 0.02em;  
}
/*
.vision_text{
    position: relative;
    left: 40em;
    top: 10em;
    width: 20em;
}
.vision_txt{
    position: absolute;
}
.about_text{
    position: relative;
    top: 10em;
    left: 10em;
}
.about_txt{
    position: absolute;
}

.laptop_img{
    position: relative;
    width: 26em;
    height: 16em;
    bottom: 12em;
}
.about_img{
    position: absolute;
    
    left: 50em;
}
.about_heading{
    position: relative;
    left: 10em;
    top: 2em;
}
.about_heading_text{
    position: absolute;
    font-size: 3em;
    font-family: var(--ff-heading);
}
.vision_heading{
    left: 60em;
    position: relative;
}
.vision_heading_text{
    position: absolute;
    font-size: var(--fs-heading);
    font-family: var(--ff-heading);
}
*/
.about_heading{
    position: relative;
    left: 15em;
    top: 7em;
}
.vision_heading{
    position: relative;
    left: 45em;
    top: 6em;
}
.about_heading_text{
    left: 10em;
    top: 3em;
    font-family: var(--ff-heading);
    font-size: 3em;
}
.vision_heading_text{
    font-family: var(--ff-heading);
    font-size: 3em;
}
.laptop_img{
    position: relative;
    width: 25em;
    left: 40em;
    bottom: 30em;
}
.about_text{
    position: relative;
    background-color: #d9d9d9;
    top: 10em;
    left: 10em;
}
.vision_text{
    position: relative;
    background-color: var(--clr-light);
    top: 6em;
    left: 40em;
}